import {
  SlashCommandBuilder,
  EmbedBuilder,
} from "discord.js";

import { SlashCommand } from "../types";


const command: SlashCommand = {
  command: new SlashCommandBuilder()
    .setName("name")
    .setDescription("description"),
  execute: async (interaction) => {
    interaction.reply(
      "OK bro"
  )},
  cooldown: 10, //cooldown
};

export default command;
